#library-panel {
  width: var(--library-panel-default-width);
  height: 100vh;
  background-color: var(--default-theme-background-color);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  z-index: var(--highest-z-index);
  box-shadow: 4px 0 20px 0 #ccc;
  overflow: hidden;
  will-change: width;
  transition: width 0.4s ease-in-out;
}
/* Close Animation */
#library-panel.close {
  width: var(--library-panel-minimized-width);
}

#library-panel.close #close-library-panel label .row-1 {
  background-color: crimson;
  transform: rotate(0) translateY(-2px);
}

#library-panel.close #close-library-panel label .row-2 {
  background-color: #2196f3;
  transform: rotate(0) translateY(2px);
}

#library-panel.close .library-panel__header {
  transform: rotate(90deg) translateX(5px) scale(0.7);
}

#library-panel.close #links > .empty {
  opacity: 0;
}

#library-panel.close .links-wrapper {
  padding: 20px 10px;
}

#library-panel.close #links .favicon {
  left: 6px;
}

#library-panel.close #links .url-name {
  padding-left: 40px;
}
/**/

#close-library-panel {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 17.5px;
  top: 20px;
  cursor: pointer;
}

#close-library-panel label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  pointer-events: none;
}

#close-library-panel span {
  width: 20px;
  height: 2px;
  display: block;
  background-color: var(--default-theme-text-color);
  border-radius: 2px;
  transition: transform 0.3s ease, color 0.3s ease;
}

#close-library-panel .row-1 {
  transform: rotate(45deg) translateY(0);
}

#close-library-panel .row-2 {
  transform: rotate(-45deg) translate(0.6px, 0);
  transform-origin: 40% 50%;
}

.library-panel__header,
.library-panel__header h2 {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  font-size: 1.4em;
  transition: transform 0.3s ease-in-out;
}

.links-wrapper {
  width: 100%;
  flex: 1;
  padding: 20px;
  transition: padding 0.3s ease;
}

#links {
  width: 100%;
  height: 100%;
  overflow: hidden auto;
}

#links > .empty {
  width: 100%;
  display: block;
  text-align: center;
  font-weight: 600;
  pointer-events: none;
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.3s ease;
}

#links > .empty::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: url('../assets/not-found.svg') no-repeat center;
  background-size: 50%;
  pointer-events: none;
}

#links li {
  width: 100%;
  height: 45px;
  min-width: max-content;
  line-height: 45px;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#links .favicon,
#links .img-favicon {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  left: 5px;
  border-radius: 50%;
  pointer-events: none;
  transition: left 0.3s ease;
}

#links .favicon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  line-height: 25px;
  font-weight: 600;
  text-transform: capitalize;
  z-index: 1;
}

#links .img-favicon {
  object-fit: contain;
}

#links .favicon.loading {
  background-image: url('../assets/loading.svg');
  transform: rotate(0deg);
  background-size: 80%;
  animation: loading 0.6s linear infinite;
}

@keyframes loading {
  100% {
    transform: rotate(-360deg);
  }
}

#links .url-name {
  width: 255px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: inherit;
  padding-left: 40px;
  transition: padding-left 0.3s ease, width 0.3s ease;
}

#links .url-name:hover {
  padding-left: 45px;
}

#links li.rename-link-focused .url-name {
  /* this width 225px + options width 105px */
  width: 360px;
  padding-left: 45px;
}

#links li::before {
  content: '';
  width: 100%;
  height: 0;
  background-color: var(--default-theme-background-color);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 5;
}

#links li.delete-link::before {
  animation: delete-from-library 0.5s ease-in-out forwards;
}

@keyframes delete-from-library {
  100% {
    height: 45px;
  }
}

#links .link-item__option {
  width: 105px;
  height: 100%;
}

#links .link-item__option > span {
  width: 45px;
  height: 100%;
  display: inline-block;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

#links .link-item__option > span:hover {
  background-color: #ddd;
}

#links .rename {
  background: url('../assets/rename.svg') no-repeat center;
  background-size: 20px;
  margin-right: 15px;
  cursor: pointer;
}

#links .delete {
  background: url('../assets/trash.svg') no-repeat;
  background-position: center 8px;
  background-size: 25px;
  cursor: pointer;
}

/* Cover */
.library-panel__cover {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* highest is 10 */
  z-index: 9;
}

#library-panel.close + .library-panel__cover {
  pointer-events: none;
  visibility: hidden;
}
