#recent-panel {
  width: var(--recent-panel-default-width);
  height: 100vh;
  background-color: var(--default-theme-background-color);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  z-index: var(--highest-z-index);
  box-shadow: 4px 0 20px 0 #ccc;
  overflow: hidden;
  will-change: width;
  transition: width 0.4s ease-in-out;
}
/* Close Animation */
#recent-panel.close {
  width: var(--recent-panel-minimized-width);
}

#recent-panel.close #close-recent-panel label .row-1 {
  transform: rotate(0) translateY(-2px);
}

#recent-panel.close #close-recent-panel label .row-2 {
  transform: rotate(0) translateY(2px);
}

#recent-panel.close .recent-panel__header {
  transform: rotate(90deg) translateX(5px) scale(0.7);
}

#recent-panel.close #recents > .empty {
  opacity: 0;
}

#recent-panel.close .recents-wrapper {
  padding: 20px 10px;
}

#recent-panel.close #recents .favicon {
  left: 6px;
}

#recent-panel.close #recents .url-name {
  padding-left: 40px;
}
/**/

#close-recent-panel {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 17.5px;
  top: 20px;
  cursor: pointer;
}

#close-recent-panel label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  pointer-events: none;
}

#close-recent-panel span {
  width: 20px;
  height: 2px;
  display: block;
  background-color: var(--default-theme-text-color);
  border-radius: 2px;
  transition: transform 0.3s ease;
}

#close-recent-panel .row-1 {
  transform: rotate(45deg) translateY(0);
}

#close-recent-panel .row-2 {
  transform: rotate(-45deg) translateY(0);
  transform-origin: 40% 50%;
}

.recent-panel__header,
.recent-panel__header h2 {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  font-size: 1.4em;
  transition: transform 0.3s ease-in-out;
}

.recents-wrapper {
  width: 100%;
  flex: 1;
  padding: 20px;
  transition: padding 0.3s ease;
}

#recents {
  width: 100%;
  height: 100%;
  overflow: hidden auto;
}

#recents > .empty {
  width: 100%;
  display: block;
  text-align: center;
  font-weight: 600;
  pointer-events: none;
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.3s ease;
}

#recents > .empty::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: url('../assets/not-found.svg') no-repeat center;
  background-size: 50%;
  pointer-events: none;
}

#recents li {
  width: 100%;
  height: 45px;
  min-width: max-content;
  line-height: 45px;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#recents .favicon {
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  line-height: 25px;
  font-weight: 600;
  position: absolute;
  top: 10px;
  left: 5px;
  border-radius: 50%;
  pointer-events: none;
  text-transform: capitalize;
  transform: left 0.3s ease;
}

#recents .favicon.loading {
  transform: rotate(0deg);
  background-size: 80%;
  animation: loading 0.6s linear infinite;
  cursor: wait;
}

@keyframes loading {
  100% {
    transform: rotate(-360deg);
  }
}

#recents .url-name {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: inherit;
  padding-left: 35px;
  transition: padding-left 0.3s ease;
}

#recents .url-name:hover {
  padding-left: 40px;
}

#recents .recent-item__option {
  height: 100%;
}

#recents .recent-item__option > span {
  width: 45px;
  height: 100%;
  display: inline-block;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

#recents .recent-item__option > span:hover {
  background-color: #ddd;
}

#recents .rename {
  background: url('../assets/rename.svg') no-repeat center;
  background-size: 20px;
  margin-right: 15px;
  cursor: pointer;
}

#recents .delete {
  background: url('../assets/trash.svg') no-repeat;
  background-position: center 8px;
  background-size: 25px;
  cursor: pointer;
}
